<div class="container">
<div id="Registerbox" style="margin-top:60px;" class="mainbox col-sm-12" ng-cloak>                    
   <!-- <div ng-show="editPanels">
        <div ng-include="'views/registration/panel.html'"></div> 
    </div> -->
    <div class="panel" ng-show="!editPanels">
        <div class="panel-heading">
            <div class="panel-title"><b> View Issued Stock </b></div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
        </div> 

            <div style="padding-top:30px; text-align:center;" class="panel-body" >	 
	            <div class="alert alert-success" ng-show="showAlertPanel">
                    {{message}}
                </div>
	            <div class="table-responsive ">
                    <table class="table table-striped table-fixedheader table-bordered" >
                        <thead>
                            <tr>
                                <th style="text-align:center;" width="10%">Stock Issued ID</th>
                                <th style="text-align:center;" width="10%">Centre ID</th>
                                <th style="text-align:center;" width="10%">Issued To</th>
                                <th style="text-align:center;" width="10%">Required By Date</th>
                                <th style="text-align:center;" width="10%">Stock Order To</th>
                                <!-- <th style="text-align:center;" width="5%">&nbsp;</th> -->
                            </tr>    
                        </thead>
                        <tbody >
                            <tr ng-repeat = "stockIssued in stocksIssued" style="height:2px;" ng-click="openStockIssued(stockIssued.stockIssuedId)">
                                <td width="10%" style="text-align:center;" >{{stockIssued.stockIssuedId}}</td>
                                <td width="10%" style="text-align:center;" >{{stockIssued.centreId}}</td>
                                <td width="10%" style="text-align:center;" >{{stockIssued.stockIssuedTo}}</td>
                                <td width="10%" style="text-align:center;" >{{stockIssued.stockIssueDate|date:dd-MMMM-YY-EEE}}</td>
                                <td width="10%" style="text-align:center;" >{{stockIssued.stockTakerName}}</td>
                               <!--  <td style="text-align:center;" width="5%"><button class="btn btn-danger" ng-click="removeItem($index)"><span class="glyphicon glyphicon-remove"></span></button></td> -->

                            </tr>    
                        </tbody>
                    </table>
                </div>
                     
                <hr style="border-top:1px solid rgb(225,225,225);">
                </div>
        </div>
    </div>
</div>
