<div id="listPlansModal" class="modal fade" role="dialog" ng-cloak>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>                     
                <h4 class="modal-title">List of Previous Charts of Patient {{chosenPatientId}}: </h4>
            </div>
            <div class="modal-body">
                <form>
                  <div style="padding-top:30px;" class="panel-body">   
                    <div class="table-responsive ">
                      <table id="viewpatient_basicdetail" class="table table-striped table-fixedheader table-bordered" >
                        <thead>
                          <th style="text-align:center;" class="text-uppercase" ><b>Care Plan Date</b></th>
                          <th style="text-align:center;" class="text-uppercase" ><b>Dry Weight</b></th>
                          <th style="text-align:center;" class="text-uppercase" ><b>Last Modified By</b></th>
                        </thead>
                        <tbody >
                          <tr ng-repeat = " item in prevPlansList" style="height:2px;" class='clickable-row' ng-click="fetchThisPlan(item.carePlanId)" data-dismiss="modal" >
                            <td class="text-capitalize"><b>{{item.prescriptionDate|date:dd-MMMM-YY-EEE}}</b></td>
                            <td class="text-capitalize">{{item.dryWeight}}</td>
                            <td class="text-capitalize">{{item.lastModifiedBy}}</td>
                          </tr>    
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div ng-show="editCarePlan" ng-cloak>
    <div ng-include="'views/dialysis_care_plan/dialysis_care_plan.html'" ></div> 
</div>

<div class="container" ng-show="!editCarePlan" ng-cloak>
    <div class="row row-content col-sm-8 col-sm-push-2 col-sm-pull-2">
        <div class="panel" >
            <div class="panel-heading">
                <div class="panel-title"><b>Dialysis Care Plan</b></div>
                <div style="float:right; font-size: 80%; position: relative; top:10px"></div>
            </div>     

            <div style="padding-top:30px" class="panel-body" ng-show="carePlan.patientId!=null">    
                <div class="alert alert-sucess" ng-show="updatedCarePlan">
                    {{message}}
                </div> 
                <div class="row " >
                  <a href style="text-align:right" data-toggle="tooltip" title="View Latest Care Plan" data-placement="top" class="pull-left col-sm-offset-1"><span class="glyphicon glyphicon-pushpin" ng-click="latest()"></span></a>
                  <!-- glyphicon-pushpin -->
                  <button class="btn btn-warning pull-right col-sm-pull-1" data-toggle="modal" data-target="#listPlansModal" ng-click="listPrevPlans()">List Previous Plans</button>
                </div>   
                <div style="padding-top:30px;" class="panel-body col-sm-10 col-sm-pull-1 col-sm-push-1" >   
                <div class="table-responsive ">
                    <table class="table table-striped table-fixedheader table-bordered" >
                       
                        <tbody >
                            <tr ng-repeat = " (key,value) in carePlan" ng-if="key!='new' && key != 'patientDetail'" style="height:2px;" >
                                <td width="15%" class="text-capitalize"><b>{{regularForm(key)}}</b></td>
                                <td width="25%" ng-if="key!='prescriptionDate' && key !='createdAt' && key!='updatedAt'">{{value}}</td>
                                <td width="25%" ng-if="key=='prescriptionDate' || key=='createdAt' || key=='updatedAt'">{{value|date:dd-MMMM-YY}}</td>

                            </tr>    
                        </tbody>
                    </table>
                </div>
                <form>
                <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button id="edit" type="submit" class="btn btn-primary" ng-click="editCarePlan = true">Edit</button>
                        </div>
                    </div>
               </form>
                    <hr style="border-top:1px solid rgb(225,225,225);">
                </div>
            </div>
            <div class="alert alert-danger" ng-show="carePlan.patientId==null || careplan.patientId.length==0">
                No plans added for the patient
            </div>
        </div>
    </div>
</div>
    
