<div class="container" ng-cloak>
	<div class="row row-content col-sm-pull-1 col-sm-push-1 col-sm-10">
		<div class="panel" style="text-align:center;">
			<div class="panel-heading">
				<div class="panel-title">Schedule a patients Appointments</div>
				<div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
			</div>
			<div style="padding-top:30px;" class="panel-body" style="text-align:center;">
				<div class="media">
				    <div class="media-body media-left media-middle">
				        <label class="col-sm-3">PATIENT ID: {{patient.id}}</label>
				        <label class="col-sm-3 text-capitalize">NAME: {{patient.name}}</label>
				        <label class="col-sm-3">CONTACT: {{patient.contact}}</label>
				        <!-- <label class="col-sm-3 text-uppercase">Patient Type: {{patient.bedType}}</label> -->
				    </div>
				    <div class="media-right">
				        <a href="#"><img class="media-object img-thumbnail" height ="100" width ="100" src="images/person-default.png" alt="defaultPerson"/></a>
				    </div>
				    <hr style="border-top:1px solid rgb(220,220,220);" />
				</div>
				<form class="form-horizontal" role="form" ng-submit="save()">
					<div class="form-group col-sm-12">
						<label class="control-label col-sm-4">Choose Appointment Type</label>
						<select class="col-sm-4" ng-model="appointmentType">
							<option selected disabled value="">-</option>
							<option ng-repeat="type in appointmentTypes" value="{{type}}" class="text-capitalize">{{type}}</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Choose Frequency Per Week</label>
						<select class="col-sm-2" ng-model="freqPerWeek">
							<option selected disabled value="">-</option>
							<option ng-repeat="i in [1,2,3,4,5,6]" value="{{i}}">{{i}}</option>
						</select>
					</div>
					<div layout="row" layout-sm="column" layout-align="space-around" ng-if="!data">
					    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
				    </div>
				    <div ng-show="data">
				    	<div class="form-group col-sm-12">
				    		<label class="control-label col-sm-2">Choose Day Combination</label>
				    		<select class="col-sm-12" ng-model="dayChoice">
				    			<option selected disabled value="">-</option>
				    			<option ng-repeat="option in options" value="{{option}}">{{option}}</option>
				    		</select>
				    	</div>
				    	<div class="form-group">
				    		<div class="col-sm-6" ng-repeat="(key,value) in daysData" >
				    			<md-card>
				    				<md-card-header>
				    					<md-card-header-text style="background-color:#73AD21">
				    						<span class="md-title">Monday</span>
				    						<span class="md-subhead">Choose a vacant shift</span>
				    					</md-card-header-text>
				    				</md-card-header>
				    				<md-card-content>
				    					<label class="control-label col-sm-6"> Shift-1: <small>Available OPD Slots: 4</small></label>
				    					<button type="button" class="btn btn-primary">Book</button>
				    					<label class="control-label col-sm-6"> Shift-3: <small>Available OPD Slots: 4</small></label>
				    					<button type="button" class="btn btn-primary">Book</button>
				    				</md-card-content>
				    			</md-card>
				    		</div>
				    		<div class="col-sm-6" >
				    			<md-card>
				    				<md-card-header>
				    					<md-card-header-text style="background-color:#73AD21">
				    						<span class="md-title">Tuesday</span>
				    						<span class="md-subhead">Choose a vacant shift</span>
				    					</md-card-header-text>
				    				</md-card-header>
				    				
				    				<md-card-content>
				    					<label class="control-label col-sm-6"> Shift-1: <small>Available OPD Slots: 4</small></label>
				    					<button type="button" class="btn btn-primary">Book</button>
				    				</md-card-content>
				    			</md-card>
				    		</div>
				    	</div>
				    </div>				    
				</form>
			</div>
		</div>
	</div>
</div>
<!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
				    				<!-- <md-card-title>
				    					<md-card-title-text>
				    						<span class="md-headline">Card header</span>
				    					</md-card-title-text>
				    				</md-card-title> -->