<style type="text/css">
    .datepickerdemoBasicUsage {
        /*padding-left:-50px;  */
        padding-right: 10px;
    }
    .datepickerdemoBasicUsage md-content {
        /*padding-bottom: 200px; */
        background: rgb(238,238,238);
        margin-left: -50px;
    }
    .datepickerdemoBasicUsage .validation-messages {
        font-size: 12px;
        color: #dd2c00;
        margin: 10px 0 0 25px; 
    } 
    md-datepicker.md-default-theme, md-datepicker, md-content{
        background: rgb(238,238,238);
        overflow: hidden;
        /*padding-left: -20px;*/
        margin-left:-30px;
        margin-right: -20px;

    }
    .panel-heading h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 75%;
        padding-top: 8px;
    }
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #FFFFD9;
        color: #B2b2b2;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .dateCSS{
        
        font-size:18px ;
        /*color: #fff; */
        font-weight:20px ; 
        padding-top:-30px; 
        margin-top: -20px
        padding-bottom:10px;
        margin-bottom: 10px ;
        /*color: #d9d9d9;*/
        color: rgb(150,150,150);
        /*background-color: #e8e8e8;*/ text-shadow: rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;

    }
    .padding{
        padding-top: 10px;
    }
    .row1:nth-of-type(odd) {background-color: #E6F2BF}
</style>

<div id="confirmationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>                     
                <h4 class="modal-title">Confirm Cancellation </h4>
            </div>
            <div class="modal-body">
                <form>
                    <p>Are you sure you want to cancel the appointment of {{appointment.patientDetail.name}}(id:{{appointment.patientId}}) on {{appointment.date |date:EEEE-dd-MMMM-YY}}?</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning btn-sm" ng-click="cancelAppointment(appointment.appointmentId)" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-cloak>
    <div class="row row-content col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">
                    <b>View Appointments</b>
                </h3>
                <div class="btn-group pull-right">
                    <button type="button"  ng-click="toggleFunction()" class="btn btn-warning">{{toggle?'View Future Appointments':prevSetFilter}}</button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>  <!-- caret -->
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="dropdown-item" href ng-click="getAppointments('allAttended')">All Attended Appointments</a><li>
                        <li><a class="dropdown-item" href ng-click="getAppointments('allUnAttended')">All Unattended Appointments</a></li>
                        <!-- <li><a class="dropdown-item" href ng-click="getAppointments('allPending')">All Pending (unmarked appointments) Appointments</a></li> -->
                        <li><a class="dropdown-item" href ng-click="getAppointments('pastAppointments')">All past Appointments</a></li>
                        <li><a class="dropdown-item" href ng-click="getAppointments('cancelledAppointments')">All Cancelled Appointments</a></li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" href ng-click="futureAppointments()">All Future Appointments</a></li>
                    </ul>
                </div>
                <!-- <button type="button" class="btn btn-warning pull-right" ng-click="past?futureAppointments():pastAppointments()">{{past?'View Future Appointments':'View Past Appointments'}}</button> -->
                <div class="clearfix"></div>

                <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"></div> -->
                <div style="text-align:right;"></div>
            </div>     
            <div style="padding-top:30px; text-align:center;" class="panel-body" >
                <form class="form-horizontal" role="form" name="viewAppointmentsForm" id="viewAppointmentsForm" novalidate>
                    <div class="alert alert-success" ng-show='showAlertCancelled'>    
                        Appointment successfully cancelled!
                    </div>
                    <div class="alert alert-warning" ng-show='showAlertMarkOlderAppointments'>    
                        Warning: Previous Appointments need update!
                    </div>
                    <div class="alert alert-success" ng-show="showAlertMarkedAttended">
                        Appointment Marked Attended Successfully!
                    </div>
                    <div class="alert alert-danger" ng-show="alert">
                        {{message}}
                    </div>
                    <div class="form-group" >
                        <label for="name" class="col-sm-1 control-label">Name</label>                        
                        <div class="col-sm-2">
                            <input  type="text" class="form-control" id="name" name="name" ng-model="patient.name" >
                        </div>
                        <label class="col-sm-2 control-label">ID Number</label>
                        <div class="col-sm-2">
                            <input  type="text" class="form-control" id="id" name="id" ng-model="patient.id">
                        </div>
                    </div>
                    <div class="form-group  col-sm-push-2 col-sm-pull-2 col-sm-8" >
                        <md-content class="col-sm-6">
                            <md-datepicker  name="dateFrom" ng-model="dateFrom" md-placeholder="Enter date From">
                            </md-datepicker>
                            <div class="validation-messages" ng-messages="viewAppointmentsForm.dateFrom.$error">
                                <div ng-message="valid" class="text-danger" >The entered value is not a date!</div>
                            </div>
                        </md-content>
                        <md-content class="col-sm-6">
                            <md-datepicker name="dateTo" ng-model="dateTo" md-placeholder="Enter date To">
                            </md-datepicker>
                            <div class="validation-messages" ng-messages="viewAppointmentsForm.dateTo.$error">
                                <div ng-message="valid" class="text-danger" >The entered value is not a date!</div>
                            </div>
                        </md-content>
                    </div>
                    <hr  class="col-sm-12" style="border-top:1px solid rgb(220,220,220); padding-bottom:-20px;margin-bottom: -40px"/>
                    <p></p>
                    <div class="table-responsive col-sm-12">
                        <div style="text-align:left">
                            <a href ng-click="all?todaysAppointments():futureAppointments()" style="color:#000099; text-align:left"><u>{{all?'todays':'all future'}}</u></a>
                        </div>
                        <md-card ng-if="dataReceived"  class="col-sm-12">
                            <md-card-title>
                                <md-card-title-text style="background-color:#73AD21">
                                    <span class="md-headline text-uppercase">List Of {{filterVal}} appointments</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <div class="table-responsive ">
                                    <table id="resultTable" class="table table-striped table-fixedheader table-bordered" >
                                        <thead>
                                            <tr">
                                                <th style="text-align:center;" width="10%">Appointment ID</th>
                                                <th  style="text-align:center;" width="20%">Date</th>
                                                <th  style="text-align:center;" width="10%">Day</th>
                                                <th  style="text-align:center;" width="10%">Shift</th>
                                                <th style="text-align:center;" width="15%">Patient ID</th>
                                                <th  style="text-align:center;" width="20%">Name</th>
                                                <th  style="text-align:center;" width="10%">Present</th>
                                                <th  style="text-align:center;" width="10%">Billing</th>
                                                <th  style="text-align:center;" width="10%">Monitoring</th>
                                                <th  style="text-align:center;" width="10%">Treatment Consumption</th>
                                                <th ng-if="today">&nbsp;</th>
                                                <!-- <th ng-show="!appointment.cancelled && !appointment.present"></th> -->
                                            </tr>    
                                        </thead>
                                        <tbody style="max-height:300px;">
                                        <!-- apply filter left -->
                                            <tr ng-repeat = "appointment in appointments | filter: patient.id | filter: patient.name | dateFilter:dateFrom:dateTo | orderBy:['date','shiftNumber']" style="background-color:{{ (appointment.present&&appointment.billingDone && appointment.monitoringDone && appointment.treatmentConsumptionAdded)?'#99ff99':'#ffffff'}};height:2px;cursor: pointer;" class='clickable-row' ng-click="viewAppointmentDetails(appointment.appointmentId,filter)" > 
                                                <td width="10%" >{{ appointment.appointmentId }}</td>
                                                <th width="20%">{{ appointment.date | date:dd-MMMM-YY-EEE }}</th>
                                                <td width="10%">{{appointment.dayOfTheWeek}}</td>
                                                <td style="text-align:center;" width="10%">{{appointment.shiftNumber}}</td>
                                                <td width="15%" >{{ appointment.patientDetail.id }}</td>
                                                <td class="text-capitalize" width="20%">{{ appointment.patientDetail.name }}</td>
                                                <td width="10%" style="background-color:{{appointment.present?'#99ff99':'#ff9999'}};color:{{appointment.present?'green':'#b30000'}};"><span class="glyphicon glyphicon-{{ appointment.present?'ok':'remove'}}"></span></td>
                                                <td width="10%" style="background-color:{{appointment.billingDone?'#99ff99':'#ff9999'}};color:{{appointment.billingDone?'green':'#b30000'}};"><span class="glyphicon glyphicon-{{ appointment.billingDone?'ok':'remove'}}"></span></td>
                                                <td width="10%" style="background-color:{{appointment.monitoringDone?'#99ff99':'#ff9999'}};color:{{appointment.monitoringDone?'green':'#b30000'}};"><span class="glyphicon glyphicon-{{ appointment.monitoringDone?'ok':'remove'}}"></span></td>
                                                <td width="10%" style="background-color:{{appointment.treatmentConsumptionAdded?'#99ff99':'#ff9999'}};color:{{appointment.treatmentConsumptionAdded?'green':'#b30000'}};"><span class="glyphicon glyphicon-{{ appointment.treatmentConsumptionAdded?'ok':'remove'}}"></span></td>
                                                <td width="25%" ng-if="today && appointment.present != false" >
                                                    <p>{{(appointment.present == true)?'Patient Present':'Yet to Come'}}</p>
                                                </td>
                                                <!-- <td width="35%" ng-if="today && appointment.present == null" >
                                                    <a href ng-click='markPresence(appointment.appointmentId, true)' id="markAppointment" data-toggle="tooltip" title="Mark Patient as Present" data-placement="top" style="font-size:20px" class="col-sm-6"><span class="glyphicon glyphicon glyphicon-ok-circle"></span></a>
                                                    <a href ng-click='markPresence(appointment.appointmentId, false)' id="markAppointment" data-toggle="tooltip" title="Mark Patient as not Present" data-placement="top" style="font-size:20px" class="col-sm-6"><span class="glyphicon glyphicon glyphicon-ban-circle"></span></a>
                                                </td> -->
                                                <!-- <td ng-show="!appointment.cancelled && !appointment.present">
                                                    <a type="button" class="text-danger" id="cancelAppointment_{{$index}}" ng-click="captureAppointment(appointment)" data-toggle="modal" data-target="#confirmationModal" >Cancel</span></a>
                                                </td> -->
                                            </tr>    
                                        </tbody>
                                    </table>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </form>                     
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle=tooltip]').hover(function(){
                // on mouseenter
                $(this).tooltip('show');
            }, function(){
                // on mouseleave
                $(this).tooltip('hide');
            });
    });
</script>
