<div id="confirmationModal" class="modal fade" role="dialog" ng-cloak>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>                     
                <h4 class="modal-title">Confirm Cancellation </h4>
            </div>
            <div class="modal-body">
                <form>
                    <p>Are you sure you want to cancel the Appointment of patient :{{appointment.patientId}}) scheduled on date: {{appointment.date|date:EEEE-dd-MMMM-YY}}?</p>
                    <!-- <button type="submit" class="btn btn-warning btn-sm" ng-click="cancelBill()" data-dismiss="modal">Confirm</button> -->
                    <!-- <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning btn-sm" ng-click="cancelAppointment()" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="confirmAttendanceModal" class="modal fade" role="dialog" ng-cloak>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>                     
                <h4 class="modal-title">Confirm Attendance </h4>
            </div>
            <div class="modal-body">
                <form>
                    <!-- <p>{{attendance}}</p> -->

                    <p>Are you sure you want to mark the Appointment: appointment ID - {{appointment.appointmentId}} of patient :{{appointment.patientId}}) scheduled on date: {{appointment.date|date:EEEE-dd-MMMM-YY}} as {{attendance?'attended':'not attended'}}:?</p>
                    <!-- <button type="submit" class="btn btn-warning btn-sm" ng-click="cancelBill()" data-dismiss="modal">Confirm</button> -->
                    <!-- <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning btn-sm" ng-click="markPresence()" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-cloak>
    <div class="row row-content col-sm-8 col-sm-push-2 col-sm-pull-2 ">

        <md-card class="col-sm-12">
            <md-card-title style="background-color:#73AD21;margin-top:10px;"  layout="row" layout-align="center center">
                <md-card-title-text  layout-align="center center">
                    <span class="md-headline text-uppercase" >Appointment Details</span>
                </md-card-title-text>
                <md-button class="md-raised md-cornered md-warn md-hue-2 col-sm-2" layout-align="start end" data-toggle="modal" data-target="#confirmationModal" ng-show="appointment.present == null && !appointment.cancelled">Cancel</md-button>  
            </md-card-title>
            <md-card-content style="background-color:rgb(245,245,245);margin-top:10px; margin-bottom:10px;">
                <div class="alert alert-{{messageColor}}" ng-show="showAlert">
                    {{message}}
                </div>
                <br/>
                <label style="text-align:center" ng-if="!checkTodaysDate(appointment.date)">Process would start on {{appointment.date| date}}!</label>
                <div class="table-responsive " ng-if="checkTodaysDate(appointment.date)">
                    <table id="statusTable" class="table table-bordered" >
                        <thead>
                            <tr style="background-color:#FFF">
                                <th style="text-align:center">Present</th>
                                <th style="text-align:center">Billing Done</th>
                                <th style="text-align:center">Monitoring Done</th>
                                <th style="text-align:center">Treatment Consumption</th>
                            </tr>    
                        </thead>
                        <tbody>
                            <td width="10%" style="text-align:center;background-color:{{appointment.present?'#99ff99':'#ff9999'}};color:{{appointment.present?'green':'#b30000'}};"><span class="glyphicon glyphicon-{{ appointment.present?'ok':'remove'}}"></span></td>
                            <td width="10%" style="text-align:center;background-color:{{appointment.billingDone?'#99ff99':'#ff9999'}};color:{{appointment.billingDone?'green':'#b30000'}};"><span class="glyphicon glyphicon-{{ appointment.billingDone?'ok':'remove'}}"></span></td>
                            <td width="10%" style="text-align:center;background-color:{{appointment.monitoringDone?'#99ff99':'#ff9999'}};color:{{appointment.monitoringDone?'green':'#b30000'}};"><span class="glyphicon glyphicon-{{ appointment.monitoringDone?'ok':'remove'}}"></span></td>
                            <td width="10%" style="text-align:center;background-color:{{appointment.treatmentConsumptionAdded?'#99ff99':'#ff9999'}};color:{{appointment.treatmentConsumptionAdded?'green':'#b30000'}};"><span class="glyphicon glyphicon-{{ appointment.treatmentConsumptionAdded?'ok':'remove'}}"></span></td>
                        </tbody>
                    </table>
                </div>
                <div class="media">
                    <div class="media-body media-left media-middle">
                        <label>PATIENT ID: {{appointment.patientId}}</label>
                    </div>
                    <div class="media-right">
                        <a href="#"><img class="media-object img-thumbnail" height ="100" width ="100" src="images/person-default.png" alt="defaultPerson"/></a>
                    </div>
                </div>   
                <div style="text-align:left;" class="col-sm-offset-2"> 
                    <ul  class="list-unstyled" ng-repeat="(key,value) in appointment.patientDetail" ng-if="key=='name' ||key=='contact'||key=='alternativeContact'||key=='address'||key=='gender' || key == 'age'">
                        <li class="row">
                            <label class="text-uppercase col-sm-6">{{key}}:</label>
                            <label class="text-capitalize col-sm-4">{{value}}</label>
                        </li>
                    </ul>   
                </div>

                <hr style="border-top:1px solid rgb(225,225,225);">
                
                <div style="font-size:15px; font-weight:15px; text-align:left;">
                    <label class="text-uppercase col-sm-4" style="text-align:center; color:rgb(80,80,80);" >Appointment Type: </label>
                    <label class="text-capitalize col-sm-1" style="text-align:left;color:rgb(130,130,130)">{{appointment.appointmentType}}</label>
                </div>

                <div style="font-size:15px; font-weight:15px;  text-align:left;">
                    <label class="text-uppercase col-sm-5" style="text-align:center; color:rgb(80,80,80); ">Treatment On Machine: </label>
                    <label class="text-capitalize col-sm-2 col-sm-pull-1" style="text-align:left; color:rgb(130,130,130);">&nbsp;&nbsp;&nbsp;{{appointment.tmtMachine}}</label>
                </div>
                <br/>
                <br/>

                <!-- <hr style="border-top:1px solid rgb(225,225,225);"> -->
                <div style="text-align:left;" class="col-sm-offset-2">
                    <ul  class="list-unstyled" ng-repeat="(key,value) in appointment" ng-if="key!='patientDetail' && key != 'patientId' && key != 'schedulePatient' && key !='createdAt' && key!='updatedAt'">
                        <li class="row">
                            <label class="text-uppercase col-sm-6">{{key}}:</label>
                            <label class="text-capitalize col-sm-6" style="text-align:left;" ng-if="key != 'date' && key != 'present' && key != 'cancelled' && key != 'billingDone' && key != 'monitoringDone' && key != 'treatmentConsumptionAdded' && key != 'processComplete'">{{value}}</label>
                            <label class="col-sm-6" ng-if="key == 'createdAt'|| key =='updatedAt' || key == 'date'" style="text-align:left;">{{value|date:dd-MMMM-YY}}</label>
                            <label class="col-sm-4" ng-if=" key == 'billingDone' || key == 'monitoringDone' || key == 'treatmentConsumptionAdded' || key == 'processComplete'" style="text-align:left;">{{value == true?'Done':'Not Done'}}</label>
                            <label class="col-sm-4" ng-if=" key == 'present'" style="text-align:left;">{{value == null?'Yet to Come':((value==true)?'Present':"Didn't attend")}}</label>
                            <label class="col-sm-6" style="text-align:left;" ng-if=" key == 'cancelled'">{{(value==true)?'Cancelled':'Not Cancelled'}}</label>

                        </li>
                    </ul>   
                    
                    <button class="row pull-right btn btn-primary col-sm-6" ng-if="appointment.monitoringDone == true && isClinical() " ng-click="redirectToMonitoringChart()">View Monitoring Chart of Patient</button>
                    <br/>
                </div>
                <hr  class="col-sm-12" style="border-top:1px solid rgb(225,225,225);">
                <div class="row" ng-if="appointment.present == null && !appointment.cancelled && checkTodaysDate(appointment.date)">
                    <div class="pull-right btn-group">
                        <button class="btn btn-warning" ng-click="changeAttendance(false)" data-toggle="modal" data-target ="#confirmAttendanceModal">Absent</button>
                        <!-- <div class="col-sm-1">&nbsp;&nbsp;</div> -->
                        <button class="btn btn-success" ng-click="changeAttendance(true)" data-toggle="modal" data-target ="#confirmAttendanceModal">Present</button>
                    </div>
                </div>
            </md-card-content>
        </md-card>

        
    </div>
</div>
<!-- <script type="text/javascript">
    $('#my_modal').on('show.bs.modal', function(e) {

        //get data-id attribute of the clicked element
        var bookId = $scope.appointment;

        //populate the textbox
        $(e.currentTarget).find('input[name="bookId"]').val(bookId);
    });
</script>
 -->

 <!-- 
<div class="panel" style="text-align:center;" >
            <div class="panel-heading">
                <h4 class="panel-title"><b>Appointment Details</b></h4>
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" ng-if="!appointment.cancelled" data-toggle="modal" data-target="#confirmationModal">Cancel</button>
                </div>
                 <button type="button"  ng-click="toggleFunction()" class="btn btn-warning">{{toggle?'View Future Appointments':prevSetFilter}}</button> 
                   
            </div>     
            <div style="padding-top:30px; text-align:center;" class="panel-body" >
                
            </div>
        </div>
  -->