<style>
    input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border:none !important;
    }
</style>
<div style="margin-top:20px;" class="mainbox col-sm-8 col-sm-pull-2 col-sm-push-2" ng-cloak>                    
    <div ng-if="editBasic">
        <div ng-include="'views/registration/basic_details.html'"></div> 
    </div>
    
    <div class="panel" ng-if="!editBasic">
        <div class="panel-heading">
            <div class="panel-title"><b>Patient Basic Details</b></div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
        </div>     

        <div style="padding-top:30px" class="panel-body">    

        <div class="alert alert-success" ng-show="showAlert">
            {{message}}
        </div>
            <div style="padding-top:30px;" class="panel-body">	 
            <div class="table-responsive ">
                <table class="table table-striped table-fixedheader table-bordered" >
                    <tbody >
                        <tr ng-repeat = " (key,value) in patient" ng-if="key != 'panelDetail' && key != 'otherDetail' && key != 'medicalHistories' &&  key != 'majorClinicalEvents'" style="height:2px;" >
                            <td width="10%" class="text-capitalize"><b>{{regularForm(key)}}</b></td>
                            <td width="25%" ng-if="key !='createdAt' && key != 'updatedAt' && key !='DOB'">{{value}}</td>
                            <!-- <td width="25%" >{{value}}</td> -->
                            <td width="25%" ng-if="key =='createdAt' || key == 'updatedAt' ||key =='DOB'">{{value|date:dd-MMMM-YY}}
                        </tr>    
                    </tbody>
                </table>
            </div>
			<form>
			    <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10" ng-show="!editBasic">
                        <button type="submit" class="btn btn-primary" ng-click="editBasicDetails()">Edit</button>
                    </div>
                </div>
           </form>
                <hr style="border-top:1px solid rgb(225,225,225);">
            </div>
        </div>
    </div>
</div>