<div class="container" ng-cloak>

    <div style="margin-top:50px;" class="mainbox col-sm-8 col-sm-offset-2">                    
        <div class="panel" >
            <div class="panel-heading">
                <div class="panel-title"><b>Treatment Consumption</b></div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
            </div>     

            <div style="padding-top:30px" class="panel-body bg-warning" >



                    
                    <div ng-repeat="(key,value) in daysToLoop" class="col-sm-6">
                       <md-card>
                            <md-card-title>
                                <md-card-title-text style="background-color:#73AD21">
                                    <span style="text-align:center" class="md-headline text-uppercase">{{key}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <div ng-repeat = "treatment in pendingTreatments | filter:key">
                                <div style="text-align:center;" ng-click="openAddConsumption(treatment.appointmentId)"><b>{{regularForm(treatment.patientDetail.name)}}</b></div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <!-- need to add editable table given in excel-->
                    <!-- <div ng-repeat="treatment in pendingTreatments">
                        {{treatment.patientId}}
                    </div> -->

              <!--       <div class="form-group">
                        <div class="col-sm-offset-8 col-sm-10">
                            <button id="additem" type="submit" class="btn btn-success" ng-click="saveTreatmentInventory()">Save Treatment Inventory</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="alert alert-success alert-dismissable" ng-show="showalert_treatment_inventory">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Treatment Inventory Saved Successfully.
                        </div>
                    </div>

                </form> -->
            </div>
        </div>
    </div>
</div>
