<div class="modal-header">
    <h3 class="modal-title">Add Treatment Consumption for {{consumption.treatmentId}}</h3>
</div>
<div class="modal-body" ng-cloak> 
    <form class="form-horizontal" role="form" name="issueStockForm">

        <div class="form-group">
            <label  class="col-sm-3 control-label">Treatment Type</label>
            <div class="col-sm-8 ">
                <select name="item_name" class="form-control" ng-model="consumption.treatmentType">
                    <option value="" selected disabled>-</option>
                    <option value="Single Use">Single Use</option>
                    <option value="Reuse" >Re-Use</option>
                    <option value="New Dialyser">New Dialyser</option>
                    <option value="Catheterization Single Lumen">Catheterization Single Lumen</option>
                    <option value="Catheterization Double Lumen">Catheterization Double Lumen</option>
                </select>
            </div>
        </div>

        <div ng-show="consumption.treatmentType == 'Single Use' || consumption.treatmentType == 'Reuse' || consumption.treatmentType == 'New Dialyser'" class="table-responsive ">
            <table class="table table-striped table-fixedheader table-bordered" >
                <thead>
                    <tr>
                        <th style="text-align:center;" width="10%">Item Name</th>
                        <th style="text-align:center;" width="10%">Brand Name</th>
                        <th style="text-align:center;" width="10%">Quantity type</th>
                        <th style="text-align:center;" width="10%">Quantity</th>
                        <th style="text-align:center;" width="10%">Available Quantity</th>
                    </tr>    
                </thead>
                <tbody >
                    <tr ng-repeat = "dialysisTabularItem in dialysisTabularItems track by $index" style="height:2px;" >
                        <td width="10%" >{{dialysisTabularItem.itemName}}</td>
                        <td width="10%" ><select ng-model="dialysisTabularItem.chosen.brandName" ng-change="updateQuantityType($index)" ng-options = "brand as brand for brand in dialysisTabularItem.brandName">
                            
                        </select></td>
                        <td width="10%"><select ng-disabled="dialysisTabularItem.chosen.brandName==null || dialysisTabularItem.chosen.brandName.length==0" ng-change="dialysisTabularItem.chosen.brandName.length!=0 && dialysisTabularItem.chosen.brandName!=null &&dialysisTabularItem.chosen.quantityMeasurementType.length!=0 && dialysisTabularItem.chosen.quantityMeasurementType!=null && updateAvailableQuantity($index)" ng-model="dialysisTabularItem.chosen.quantityMeasurementType" ng-options = "quantityMeasurementType as quantityMeasurementType for quantityMeasurementType in dialysisTabularItem.quantityMeasurementType">
                            
                        </select></td>
                        <td width="10%"><input style="width:50%;" type="number" ng-init="dialysisTabularItem.chosen.quantity=0" ng-model="dialysisTabularItem.chosen.quantity" ng-change="checkQuantityError($index)"></td>
                        <td width="10%" >{{dialysisTabularItem.availableQuantity}}</td>
                    </tr>    
                </tbody>
            </table>
        </div>

        <div ng-show="consumption.treatmentType == 'Catheterization Single Lumen' || consumption.treatmentType == 'Catheterization Double Lumen'" class="table-responsive ">
            <table class="table table-striped table-fixedheader table-bordered" >
                <thead>
                    <tr>
                        <th style="text-align:center;" width="10%">Item Name</th>
                        <th style="text-align:center;" width="10%">Brand Name</th>
                        <th style="text-align:center;" width="10%">Quantity</th>
                        <th style="text-align:center;" width="10%">Available Quantity</th>
                        <th style="text-align:center;" width="10%">Quantity type</th>
                    </tr>    
                </thead>
                <tbody >
                    <tr ng-repeat = "catheterizationTabularItem in catheterizationTabularItems track by $index" style="height:2px;" >
                        <td width="10%" >{{catheterizationTabularItem.itemName}}</td>
                        <td width="10%" ><select ng-model="catheterizationTabularItem.chosen.brandName" ng-change="updateQuantityType($index)" ng-options = "brand as brand for brand in catheterizationTabularItem.brandName">
                            
                        </select></td>
                        <td width="10%"><input style="width:50%;" type="number" ng-init="catheterizationTabularItem.chosen.quantity=0" ng-model="catheterizationTabularItem.chosen.quantity" ng-change="checkQuantityError($index)"></td>
                        <td width="10%" >{{catheterizationTabularItem.availableQuantity}}</td>
                        <td width="10%"><select ng-disabled="catheterizationTabularItem.chosen.brandName==null || catheterizationTabularItem.chosen.brandName.length==0" ng-model="catheterizationTabularItem.chosen.quantityMeasurementType" ng-options = "quantityMeasurementType as quantityMeasurementType for quantityMeasurementType in catheterizationTabularItem.quantityMeasurementType">
                            
                        </select></td>
                    </tr>    
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-sm-2 col-sm-push-9">
                <button class="form-control btn btn-primary" ng-click="addConsumption()">Add</button>
            </div>
        </div>
        <div class="form-group">
            <div class="alert alert-{{messageColor}} alert-dismissable" ng-show="showAlert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{message}}
            </div>
        </div>
    </form>
</div>