<form class="form-horizontal" role="form" ng-controller="MonitoringPreMachineFinalCheckController" ng-submit="editingPreMachineFinalCheck?updatePreMachineFinalCheck():saveMachineCheck()" ng-cloak>
<div class="form-group row">
	<label class="col-sm-4 col-sm-pull-1 control-label">Machine Test Passed? <font color="red">*</font></label>
	<div class="col-sm-7 col-sm-pull-1">
		<label class="radio-inline">
		<input required type="radio" name="machine_test_passed" value="Yes" ng-model="machineCheck.machineTestPassed">Yes</label>
		<label class="radio-inline">
		<input required type="radio" name="machine_test_passed" value="No" ng-model="machineCheck.machineTestPassed">No</label>
	</div>
</div>
<!-- <div class="form-group row">
	<label class="col-sm-3 control-label">Checked By <font color="red">*</font> </label>                        
	<div class="col-sm-7">
		<input required type="text" class="form-control" id="checked_by" name="checked_by" ng-model="machineCheck.machineTestCheckedBy">
	</div>
</div>-->
<div class="form-group">  
    <label class="control-label col-sm-3">Checked By</label>
    <select ng-model="machineCheck.machineTestCheckedBy" class="col-sm-7" ng-options = "staff.username as staff.username for staff in staff" required >

    </select>
</div>
<div class="form-group row">
	<label class="col-sm-4 col-sm-pull-1 control-label">Air Detector/Line Clamp <font color="red">*</font></label>
	<div class="col-sm-7 col-sm-pull-1">
		<label class="radio-inline">
		<input required type="radio" name="air_detector_or_line_clamp" value="Yes" ng-model="machineCheck.airDetector">Yes</label>
		<label class="radio-inline">
		<input required type="radio" name="air_detector_or_line_clamp" value="No" ng-model="machineCheck.airDetector">No</label>
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-3 control-label">Alarm Limits <font color="red">*</font></label>
	<div class="col-sm-7">
		<label class="radio-inline">
		<input required type="radio" name="alarm_limits" value="Yes" ng-model="machineCheck.alarmLimits" >Yes</label>
		<label class="radio-inline">
		<input required type="radio" name="alarm_limits" value="No" ng-model="machineCheck.alarmLimits" >No</label>
	</div>
</div>

<div class="form-group row">
	<label class="col-sm-4 col-sm-pull-1 control-label">Dialyzate Flow Rate <font color="red">*</font><font color="red">*</font><small>(ml/min)</small></label>
	 <div class="col-sm-7 col-sm-pull-1">
		<select required name="dialyzate_flow_rate"  class="form-control" ng-model="machineCheck.dialyzateFlowRate">
			<option disabled value="" selected></option>
			<option value="300">300 </option>
			<option value="500">500 </option>
			<option value="800">800 </option>
		</select>
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-4 col-sm-pull-1 control-label">Dialysate Counter Current Flow <font color="red">*</font></label>
	<div class="col-sm-7 col-sm-pull-1">
		<label class="radio-inline">
		<input required type="radio" name="dialysate_counter_current_flow" value="Yes" ng-model="machineCheck.dialysisCounterCurrentFlow">Yes</label>
		<label class="radio-inline">
		<input required type="radio" name="dialysate_counter_current_flow" value="No" ng-model="machineCheck.dialysisCounterCurrentFlow">No</label>
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-4 col-sm-pull-1 control-label">Dialyzate Temperature (&deg;C) <font color="red">*</font></label>
	 <div class="col-sm-7 col-sm-pull-1">
		<select required name="dialyzate_temperature"  class="form-control" ng-model="machineCheck.dialysateTemperature">
			<option disabled value="" selected></option>
			<option value="35">35 </option>
			<option value="35.5">35.5 </option>
			<option value="36">36 </option>
			<option value="36.5">36.5 </option>
			<option value="37">37 </option>
		</select>
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-4 col-sm-pull-1 control-label">Conductivity <small>(mS/cm) <font color="red">*</font></small></label>
	 <div class="col-sm-7 col-sm-pull-1">
		<select required name="conductivity"  class="form-control" ng-model="machineCheck.conductivity">
			<option disabled value="" selected></option>
			<option value="13.8">13.8 </option>
			<option value="13.9">13.9 </option>
			<option value="14">14 </option>
			<option value="14.1">14.1 </option>
			<option value="14.2">14.2 </option>
			<option value="14.3">14.3 </option>
		</select>
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-3 control-label">Part A Concentrate <font color="red">*</font></label>
	 <div class="col-sm-7">
		<select required name="a_concentrate"  class="form-control" ng-model="machineCheck.partAConcentrationCombination">
			<option disabled value="" selected></option>
			<option value="ca28k19na20">Ca28%, K19%,Na20%</option>
			<option value="ca20k0na22">Ca20%, K0%, Na22%</option>
			<option value="ca21k10na3">Ca21%, K10%, NA3%</option>
		</select>
	</div>
</div>

<div class="form-group">
    <div class="col-sm-offset-8 col-sm-2">
        <button type="submit" class="btn btn-primary" ng-show="!savedOnce">{{editingPreMachineFinalCheck?'Update':'Save'}}</button>
    </div>
</div>
<div class="form-group">
	<div class="alert alert-{{messageColor}} alert-dismissable" ng-show="showalert_predialysis_machine_final_check">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{message}}
	</div>
</div>
</form>