<style type="text/css">
    /*.nav-tabs{
      color:#CCCCCC;
      background: #009933;
    }*/
    .nav-tabs >li>a {
      color:#CCCCCC;
      background: #009933;  
      font-size: 125%; 
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
      color: #fff;
      background-color: #006600;
      border: 1px solid #006600;
      font-size: 125%;
    }
    .nav-tabs > li > a:hover{
      background-color: #009933 !important;
      border: medium none;
      color:#ffffff;
      font-size: 125%;

    }
</style>
<div id="regclass" class="container" style="text-align:center;">
    <div class="row row-content col-sm-10 col-sm-push-1 col-sm-pull-1" ng-init= "tab=1" >
        <div class="panel panel-info" style="text-align:center;"> 
            <div style="padding-top:30px; " class="panel-body bg-warning" >
                <div class="col-sm-7 ">
                    <ul ng-init="tab = 1" class="nav nav-tabs list-inline" >
                        <li ng-class="{active:tab===1}"> 
                            <a  href ng-click="tab = 1">Pre Dialysis</a>    
                        </li>
                        <li ng-class="{active:tab===2}"> 
                            <a href ng-click="tab = 2">Intra Dialysis</a> 
                        </li>
                        <li ng-class="{active:tab===3}"> 
                            <a href ng-click="tab = 3">Post Dialysis</a> 
                        </li>
                        <br><br>
                        
                    </ul>       
                </div>
                <div class="col-sm-4"></div>
                <div style="padding-top:30px;">
                    <p ng-show="tab == 1"> <div ng-include="'views/monitoring/test/predialysis1.html'" ng-show="tab === 1"></div> </p>
                    <p ng-show="tab == 2"> <div ng-include="'views/monitoring/test/intradialysis.html'" ng-show="tab === 2"></div> </p>
                    <p ng-show="tab == 3"> <div ng-include="'views/monitoring/test/postdialysis.html'" ng-show="tab === 3"></div></p>
                </div>
        </div>        
    </div>
</div>