<div class="container" ng-cloak>
    <div class="row row-content col-sm-10 col-sm-pull-1 col-sm-push-1">
        <!-- <div id="Registerbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">  -->
        <div class="alert alert-danger" ng-if="!showBilling">
            Patient hasn't come yet!. You may not bill the patient yet!.
        </div>
        <div class="panel" style="text-align:center;" ng-if="showBilling">
            <div class="panel-heading">
                <div class="panel-title"><b>NEW BILL</b></div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
            </div>     

            <div style="padding-top:30px; " class="panel-body" >
                <form class="form-horizontal" role="form" name="billingForm" id="billingForm" novalidate>
                    <div class="alert alert-{{messageColor}}" ng-show="alert">
                        {{message}}
                    </div>
                    <div class="row col-sm-12">
                        <div class="media">
                            <div class="media-body media-left media-middle">
                                <div class="row">
                                    <label class="col-sm-4">PATIENT ID: {{patient.id}}</label>
                                    <label class="col-sm-4 text-capitalize">NAME: {{patient.name}}</label>
                                    <label class="col-sm-4">CONTACT: {{patient.contact}}</label>
                                </div>
                                <div class="row">

                                </div>
                                <!-- add other details like default panel -->
                            </div>
                            <div class="media-right">
                                <a href="#"><img class="media-object img-thumbnail" height ="100" width ="100" src="images/person-default.png" alt="defaultPerson"/></a>
                            </div>
                        </div>
                        <hr/>
                        <div class="table-responsive ">
                            <button class="col-sm-2 pull-right btn btn-success"  ng-show="bill.saved" ng-click="reinit()">New Bill</button>
                            <table id="currentBillTable" class="table table-striped table-fixedheader table-bordered" >
                                <thead>
                                    <tr>
                                        <th style="text-align:center;" width="15%">Transaction ID</th>
                                        <th style="text-align:center;" width="25%">Transaction Type</th>
                                        <th  style="text-align:center;" width="30%">Ledger</th>
                                        <th  style="text-align:center;" width="10%">Quantity</th>
                                        <th  style="text-align:center;" width="15%">Price (in Rs)</th>
                                        <th  style="text-align:center;" width="5%">&nbsp;</th>
                                    </tr>    
                                </thead>
                                <tbody >
                                    <tr ng-repeat = "item in bill.subItems" style="height:2px;" >
                                        <td width="10%" >{{ item.transactionId }}</td>
                                        <td width="25%" >{{ item.transactionType }}</td>
                                        <td width="30%">{{ item.ledger }}</td>
                                        <td width="15%">{{ item.quantity }}</td>
                                        <td width="15%">{{ item.amount }}</td>
                                        <td width="5%"><button type="button" class="btn btn-danger btn-circle btn-lg" ng-click="removeEntry(item.transactionId)" ng-show="!bill.saved"><span class="glyphicon glyphicon-remove"></span></button></td>
                                    </tr>    
                                    <!-- <a ui-sref="#" ng-model=""> -->
                                </tbody>
                            </table>
                            <label class="col-sm-2">Total Amount</label>
                            <label class="col-sm-2">{{bill.totalAmount | currency :'&#8377;'}}</label>
                            <label class="col-sm-8">&nbsp;</label>
                            <label class="pull-left col-sm-2">Payable Amount</label>
                            <label class="col-sm-2">{{bill.payableAmount | currency :'&#8377;'}}</label>

                            <div ng-if="bill.modeOfPayment=='cash'">
                                <label class="col-sm-1 checkbox-inline"><input type="checkbox" ng-model="dueBill" value="due">Due</label>
                                <label class="col-sm-2 control-label" ng-if="dueBill">Amount Due (&#8377;)</label>
                                <div class="col-sm-2" ng-if="dueBill">
                                    <input class="form-control" type="number" step="any" min="0" name="dueAmount" ng-model="bill.amountPending">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right col-sm-3" ng-click="makePayment()" ng-disabled=" !payable() || bill.saved">Make Payment/Save</button>
                        </div>
                        <hr/>
                    </div>

                    <!-- <p style="font-size:135%;font-weight:bold; color:gray; font-family:'lucida console';">PAYMENT SECTION</p> -->
                    <div style="text-align:center;" ng-show="!bill.saved">
                        <div class="form-group">
                            <label for="bed" class="col-sm-3 control-label" data-toggle="tooltip" title="IPD/OPD/ICU" data-placement="top">Appointment Type</label>
                            <select id="bill.appointmentType" name="appointmentType" ng-model="bill.appointmentType" class="col-sm-3" ng-change = "changeState(1)">
                                <option value="" selected disabled >-</option>
                                <option value="OPD">OPD</option>
                                <option value="IPD">IPD</option>
                                <option value="ICU">ICU</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="appointmentTypeSelected">
                            <label for="modeOfPayment" class="col-sm-3 control-label">Mode of Payment</label>
                            <select ng-model="bill.modeOfPayment" class="col-sm-3" ng-change = "changeState(2)">
                                <option value="" selected disabled>-</option>
                                <option value="cash">CASH</option>
                                <option value="cashless">CASHLESS/PANEL</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="bill.modeOfPayment !== ''">
                            <label for="additionalDiscount" class="control-label col-sm-3">Additional Discount (in %)</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" name="additionalDiscount" id="additionalDiscount" ng-model="bill.additionalDiscount" step="any" min='0'>
                            </div>
                        </div>
                        <div ng-if="panelSelected">
                            <div class="form-group">
                                <label for="panel" class="control-label col-sm-3"> Panel</label>
                                <select ng-model = "bill.panelId" class="col-sm-3" ng-change = changeState(3) ng-options="panel.panelId as panel.panel.name for panel in panels">
                                </select>
                            </div>
                        </div>
                        <div ng-show="basicSelectionComplete"> 
                            <form class="form-horizontal" role="form" id="itemForm" name="itemForm" novalidate>

                                <hr style="border-top:1px solid rgb(220,220,220);">
                                <div class="form-group">
                                    <label for="transactionType" class="control-label col-sm-2">Transaction Type</label>
                                    <select ng-model="subItem.transactionType" class="col-sm-2" ng-change ="changeState(4)" ng-options = "type.transactionType as type.transactionType for type in transactionTypes" required >

                                    </select>
                                    <a class="text-danger pull-right col-sm-pull-1" ng-click="setPristine()" style="font-size:18px;"><span class="glyphicon glyphicon-remove"></span></a>

                                </div>
                                <div ng-if = "show">
                                    <div class="form-group" ng-class="{'has-error':billingForm.ledger.$error.required && !billingForm.product.$pristine}">
                                        <label for="product" class="control-label col-sm-2 text-capitalize">{{subItem.transactionType}}</label>
                                        <select ng-model="subItem.ledger" class="col-sm-2" ng-change="" ng-options = "ledger.ledgerName as ledger.ledgerName for ledger in ledgers" id = "ledger" name="ledger" required>
                                        </select>
                                        <span ng-show="billingForm.ledger.$error.required && !billingForm.product.$pristine" class="help-block">Ledger Name is required                      
                                        </span>    

                                        <label for="qty" class="control-label col-sm-1">Quantity</label>
                                        <div class="col-sm-2">
                                            <input  type="number" name="qty" id="qty" ng-model="subItem.quantity">    
                                        </div>
                                        <!-- modify total cost according to quantity .... price of one item to be taken from backend database -->
                                        <label for="cost" class="control-label col-sm-2">Amount (in Rs)</label>
                                        <div class="col-sm-2">
                                            <input type="number" name="cost" id="cost" ng-model="subItem.amount" disabled step="any" min='0'>    
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success btn-circle btn-lg col-sm-push-5" ng-click="add()" ng-disabled="billingForm.$invalid"><span class="glyphicon glyphicon-plus"></span></button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
