<div id="confirmationModal" class="modal fade" role="dialog" ng-cloak>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>                     
                <h4 class="modal-title">Confirm Cancellation </h4>
            </div>
            <div class="modal-body">
                <form>
                    <p>Are you sure you want to cancel the Bill: Transaction ID - {{bill.billId}} of patient :{{bill.patientId}}) created on date: {{bill.createdAt |date:EEEE-dd-MMMM-YY}}?</p>
                    <button type="submit" class="btn btn-warning btn-sm" ng-click="cancelBill()" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-cloak>
    <div class="row row-content col-sm-6 col-sm-push-3 col-sm-pull-3 ">

        <div class="panel">
            <div class="panel-heading ">
                <h4 class="panel-title pull-left"><b>Bill Details</b></h4>
                <button class="btn btn-danger pull-right" ng-if="isCancellable()" data-toggle="modal" data-target="#confirmationModal">Cancel</button>
                <div class="clearfix"></div>
            </div>     

            <div style="padding-top:30px; text-align:center;" class="panel-body" >
				<div class="alert alert-{{messageColor}}" ng-show="alert">
                    {{message}}
                </div>
                <div class="media">
	                <div class="media-body media-left media-middle">
	                    <label>PATIENT ID: {{bill.patientId}}</label>
	                </div>
	                <div class="media-right">
	                    <a href="#"><img class="media-object img-thumbnail" height ="100" width ="100" src="images/person-default.png" alt="defaultPerson"/></a>
	                </div>
	            </div>	 
	            
	            <div> 
	            	<ul  class="list-unstyled" ng-repeat="(key,value) in bill.patientDetail" ng-if="key=='name' ||key=='contact'||key=='alternativeContact'||key=='address'||key=='gender'">
	                	<li class="row">
	                		<label class="text-uppercase col-sm-6">{{key}}:</label>
	                		<label class="text-capitalize col-sm-4">{{value}}</label>
	                	</li>
	                </ul>	
                </div>           
                <hr style="border-top:1px solid rgb(225,225,225);">
                <div class="table-responsive col-sm-12 ">
                    <table id="resultTable" class="table table-fixedheader table-bordered" >
                        <thead>
                            <tr>
                                <th style="text-align:center;" width="9%">S.NO</th>
                                <th style="text-align:center;" width="10%">Transaction Type</th>
                                <th  style="text-align:center;" width="25%">Ledger</th>
                                <th  style="text-align:center;" width="7%">Quantity</th>
                                <th  style="text-align:center;" width="15%">Amount</th>
                            </tr>    
                        </thead>
                        <tbody style="max-height:300px;">
                        <!-- apply filter left -->
                            <tr ng-repeat = "item in bill.bills " style="height:2px;cursor: pointer;" >
                                <td style="text-align:center;">{{item.transactionId}}</td>
                                <td style="text-align:center;">{{item.transactionType}}</td>
                                <td style="text-align:center;">{{item.ledger}}</td>
                                <td style="text-align:center;">{{item.quantity}}</td>
                                <td style="text-align:center;">{{item.amount|currency :'&#8377;'}}</td>
                            </tr>    
                        </tbody>
                    </table>
                </div>                
                <hr style="border-top:1px solid rgb(225,225,225);">
                <ul  class="list-unstyled" ng-repeat="(key,value) in bill" ng-if="key!='patientDetail' && key != 'patientId' && key != 'bills' && key != 'cancelled'">
                	<li class="row">
                		<label class="text-uppercase col-sm-6" ng-if="key != 'deletedAt'">{{key}}:</label>
                        <label class="text-uppercase col-sm-6" ng-if="key == 'deletedAt' && value != null">{{key}}</label>
                        <label class="text-captitalize col-sm-4" ng-if="key == 'deletedAt' && value != null">{{value | date:dd-MMMM-YY}}</label>
                		<label class="text-capitalize col-sm-4" ng-if="key != 'totalAmount' && key!='payableAmount' && key !='patientPayableAmount' && key != 'createdAt' && key !='updatedAt' && key != 'deletedAt' && key != 'appointmentDate'" >{{value}}</label>
                		<label class="text-capitalize col-sm-4" ng-if="key == 'totalAmount' || key=='payableAmount' || key =='patientPayableAmount'">{{value| currency:'&#8377;' }}</label>
                		<label class="col-sm-4" ng-if="key == 'createdAt'|| key =='updatedAt' || key=='appointmentDate'">{{value|date}}
                        <!-- <label class="col-sm-4" ng-if="key == 'cancelled'">{{(value==true)?'Cancelled':'Not Cancelled'}} -->

                	</li>
                </ul>   
                <button class="row col-sm-offset-6 col-sm-6 btn btn-primary" ng-if="bill.status!='FullPaid' && !bill.cancelled && bill.deletedAt == null" ng-click="updateStatus()">Update Status to Paid</button>
            </div>
        </div>
    </div>
</div>
