<style>

  table{
    table-layout: fixed;
    width: 200px;
    background-color:#FAEBFF;
  }

  th, td {
    /*border: 1px solid black;*/
    overflow: hidden;
    width: 100px;
    height: 40px;
    /*padding: 15px;*/
    text-align : center;
  }
  tr:nth-child(even) {background-color: #FCF5FF}
  tr:hover{
    background-color: #F5E6FA
  }
  th {
    /*background-color: #4CAF50;*/
    background-color: #003399;

    color: white;
  }
  body
  {
    line-height: 1.6em;
  }

[contenteditable] {
  /*border: 1px solid #00339A;*/
  /*background-color: white;*/
  min-height: 25px;
}
/*
.ng-invalid {
  border: 1px solid red;
}*/
/* #box-table-b
{
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 12px;
margin: 45px;
width: 480px;
text-align: center;
border-collapse: collapse;
border-top: 7px solid #9baff1;
border-bottom: 7px solid #9baff1;
}
#box-table-b th
{
font-size: 13px;
font-weight: normal;
padding: 8px;
background: #e8edff;
border-right: 1px solid #9baff1;
border-left: 1px solid #9baff1;
color: #039;
}
#box-table-b td
{
padding: 8px;
background: #e8edff; 
border-right: 1px solid #aabcfe;
border-left: 1px solid #aabcfe;
color: #669;*/
/*}*/
</style>
<div class="container">
  <div class="row row-content" ng-controller="MonitoringIntraController" >
    <form class="form-horizontal col-sm-9" role="form" ng-submit="saveIntra()">
      <div class="table-responsive">
        <table id="box-table-b" class="table table-bordered">
          <thead>
            <tr>
              <th style="width:20%">S.No</th>
              <th style="width:40%">TIME <small style="color:gray;">(in mins)</small></th>
              <th style="width:25%">BP</th>
              <th style="width:25%">PR</th>
              <th style="width:25%">AP</th>
              <th style="width:25%">VP</th>
              <th style="width:25%">TMP</th>
              <th style="width:25%">UFR</th>
              <th style="width:40%">TOTAL UF</th>
              <th style="width:25%">BFR</th>
              <th style="width:25%">EBF</th>
              <th style="width:50%">Remarks</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="i in [1,2,3,4,5,6,7,8]" ng-init="func($index)">
              <td >
              {{intraTable[$index].entryNumber}}
              </td>
              <td >
                <div contenteditable valid-number ng-model="intraTable[$index].entryTime">
                </div>
              </td>
              <td>
                <div contenteditable valid-number ng-model="intraTable[$index].bp">
                
                </div>
              </td>
              <td>
                <div contenteditable valid-number ng-model="intraTable[$index].pr">
                
                </div>
              </td>
              <td>
                <div contenteditable  valid-number ng-model="intraTable[$index].ap">
                

                </div>
              </td>
              <td>
                <div contenteditable valid-number ng-model="intraTable[$index].vp">
                

                </div>
              </td>
              <td>
                <div contenteditable  valid-number ng-model="intraTable[$index].tmp">
                

                </div>
              </td>
              <td>
                <div contenteditable  valid-number ng-model="intraTable[$index].ufr">
                

                </div>
              </td>
              <td>
                <div contenteditable valid-number ng-model="intraTable[$index].totalUF">

                
                </div>
              </td>
              <td>
                <div contenteditable valid-number ng-model="intraTable[$index].bfr">
                

                </div>
              </td>
              <td>
                <div contenteditable valid-number ng-model="intraTable[$index].ebf">
                

                </div>
              </td>
              <td>
                <div contenteditable ng-model="intraTable[$index].remarks">
                

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="form-group" style="padding-top:30px;"">
        <!-- <div class="col-sm-push-8 col-sm-2  "> -->
        <button type="submit" class="btn btn-primary col-sm-push-11 col-sm-1" ngclick="edit_intradialysis()">Edit</button>
        <!-- </div> -->
      </div>
    </form>
  </div>
</div>