<div ng-show="editingPreAssessment">
    <div ng-include="'views/monitoring/predialysis_assessment.html'"></div> 
</div>
<div id="Registerbox" style="margin-top:20px;" class="mainbox col-sm-12" ng-show="!editingPreAssessment" ng-cloak>                    
    

            <div style="padding-top:30px;" class="panel-body">	
            <div class="alert alert-{{messageColorPreAssessment}}" ng-show="updatedPreAssessment">
                {{messagePreAssessment}}
            </div>    
			<div class="table-responsive ">
                <table id="viewpatient_basicdetail" class="table table-striped table-fixedheader table-bordered" >
                   
                    <tbody >
                        <tr ng-repeat = " (key,value) in patientChart.monitoringChartPreAssessment" ng-if="key!='patientId' && key!='preBasicId'" style="height:2px;" >
                            <td width="10%" class="text-capitalize"><b>{{key}}</b></td>
                            <td width="25%" ng-if="key !='createdAt' && key != 'updatedAt'">{{value}}</td>
                            <!-- <td width="25%" >{{value}}</td> -->
                            <td width="25%" ng-if="key =='createdAt' || key == 'updatedAt'">{{value|date:dd-MMMM-YY}}</td>
                        </tr>    
                    </tbody>
                </table>
            </div>
			<form>
			<div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button id="edit" type="submit" class="btn btn-primary" ng-click="editing_predialysis_assessment()" ng-show="isEditable()">Edit</button>
                    </div>
                </div>
           </form>
                <hr style="border-top:1px solid rgb(225,225,225);">
            </div>
        <!-- </div> -->
    <!-- </div> -->
</div>