<div class="container" ng-cloak style="padding-top:50px" ng-controller="AddCentreController">
    <div class="col-sm-7 col-sm-offset-1">
        <div class="row row-content" >
            <div class="panel panel-info">
                <div class="panel-body" style="text-align:center;">
                    <p><h2>{{editCentre?'Edit Centre':'Add New Centre'}}</h2></p>
                    <div class="alert alert-{{messageColor}}" ng-show="showAlert">
                        {{message}}
                    </div>
                    <form class="form-horizontal" name="addCentreForm" role="form" ng-submit="editCentre?updateCentre():addNewCentre()">

                        <div class="form-group ">
                            <label class="col-sm-4 control-label">Centre ID </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="addCentre.id" placeholder="Enter Centre ID" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name</label>                        
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="addCentre.name" placeholder="Enter Name of Centre" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="addCentre.location" placeholder="Enter Location of Centre" >
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-4 control-label">Maximum Patients</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.maxPatients" placeholder="Maximum Patients it can handle" min="{{oldValues.maxPatients}}" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Access Lines Available</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="accessLine" placeholder="Enter an accessLine available at this Centre"  >
                            </div>
                            <a ng-click="addAccessLine()" href class="text-success col-sm-1"><span class="glyphicon glyphicon-plus" ></span></a>
                        </div>
                        <div  ng-repeat = "machineType in addCentre.typesOfMachinesAvailable" style="border:1px solid rgb(220,220,220); margin-bottom: 7px; padding-top:10px; padding-right:7px;border-radius: 20px;">
                            <a ng-click="removeMachineType($index)" href class="text-danger col-sm-1 pull-right" ng-show="checkNew(machineType)"><span class="glyphicon glyphicon-remove" ></span></a>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Machine Type {{$index + 1}}</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="machine" ng-model="addCentre.typesOfMachinesAvailable[$index]">
                                </div>    
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3">OPD Machines</label>
                                <div class=" col-sm-3">
                                    <input type="number" class="form-control" ng-model="addCentre['OPDTotal'+addCentre.typesOfMachinesAvailable[$index]]" min="{{!oldValues['OPDTotal'+addCentre.typesOfMachinesAvailable[$index]]?0:oldValues['OPDTotal'+addCentre.typesOfMachinesAvailable[$index]]}}" placeholder="" >
                                </div>
                                <label class="col-sm-3">ICU/IPD Machines</label>
                                <div class=" col-sm-3">
                                    <input type="number" class="form-control" ng-model="addCentre['IPD_ICUTotal'+addCentre.typesOfMachinesAvailable[$index]]" placeholder="" min="{{!oldValues['IPD_ICUTotal'+addCentre.typesOfMachinesAvailable[$index]]?0:oldValues['IPD_ICUTotal'+addCentre.typesOfMachinesAvailable[$index]]}}">
                                </div>
                            </div>    
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Types Of Machines </label>
                            <div class="col-sm-7">
                                <select ng-model="machineType" class="form-control" name="machineType" id="machineType">
                                    <option value="">-</option>
                                    <option value="NegativeMachines">Negative Machines</option>
                                    <option value="BPositiveMachines">B+ Machine</option>
                                    <option value="CPositiveMachines">C+ Machines</option>
                                    <option value="HIVMachines">HIV Machines</option>
                                </select>
                            </div>
                            <a ng-click="addMachineType()" href class="text-success col-sm-1"><span class="glyphicon glyphicon-plus" ></span></a>

                        </div>
                        <!-- <div class="form-group">
                            <label class="col-sm-4 control-label">Patient Count</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.patientCount" placeholder=""  >
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label class="col-sm-4 control-label">No of Shifts Avalaible</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.noOfShiftsPerDay" placeholder="" min="{{oldValues.noOfShiftsPerDay}}" >
                            </div>
                        </div>


                        <!-- <div class="form-group">
                            <label class="col-sm-4 control-label">Toatl OPD Negative Machines</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.OPDTotalNegativeMachines" placeholder=""  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total OPD C Negative Machines</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.OPDTotalCPositiveMachines" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Toatl OPD B Negative Machines</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.OPDTotalBPositiveMachines" placeholder=""  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total OPD HIV Machines</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.OPDTotalHIVMachines" placeholder=""  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total IPD ICU Negative Machines</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.IPD_ICUTotalNegativeMachines" placeholder=""  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total IPD ICU C Positive Machines</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.IPD_ICUTotalCPositiveMachines" placeholder="" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total IPD ICU B Positive Machines</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.IPD_ICUTotalBPositiveMachines" placeholder=""  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Total IPD ICU HIV Machines</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" ng-model="addCentre.IPD_ICUTotalHIVMachines" placeholder=""  >
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <button type="submit" class="btn btn-primary" ng-show="!savedOnce">{{editCentre?'Update':'Add Centre'}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>   
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row row-content" style="padding-top:150px;">
            <h3>Access Lines Available at Centre:</h3>
            <ul>
               <li ng-repeat = "accessLine in addCentre.accessLinesAvailable">{{accessLine}}<a href class="text-danger" ng-click="removeAccessLine($index)"><span class="glyphicon glyphicon-remove"></span></a></li> 
            </ul>
        </div>
    </div>
</div>