<div ng-if="editCentre">
<p>what-_-</p>
    <div ng-include="'views/admin/addCentre.html'"></div> 
</div>
<div class="container" ng-cloak style="padding-top:50px" ng-show="!editCentre && showPage">
    <div class="col-sm-6 col-sm-offset-3">
       	<div class="row row-content" ng-show="!choseCentre">   
       	    <form class="form-horizontal"  role="form" >
       	        <div class="form-group">
	       	        <label class="col-sm-3 control-label">Centre</label>
	       	        <div class="col-xs-6">
		       	        <select class="form-control" ng-model="centreId" ng-change="submitCentre = true">
		       	            <option value="" disabled>-</option>
		       	            <option ng-repeat="centre in centres" value="{{centre.id}}">{{centre.id}}</option>
		       	        </select>
	       	        </div>
	       	        <br><br>
	       	        <div style="margin-top:20px" class="form-group" ng-show="submitCentre && !noCentresInDB">
	       	            <div class="col-sm-12 controls">
	       	              <center><a class="btn btn-success" ng-click="chooseCentre()">Submit</a></center>    
	       	            </div>
	       	        </div>
	       	        <button class="btn btn-success" ng-click="redirectAddCentre()" ng-show="noCentresInDB">Add Centre</button>
       	        </div>
       	    </form>
       	</div>
        <div class="row row-content" ng-if="choseCentre">
            <div class="panel panel-info">
	            <div style="padding-top:30px;" class="panel-body" >	 
	                <div class="alert alert-{{messageColor}}" ng-show="updatedCentre">
	                    {{message}}
	                </div>   
	                <h3 style="text-align: center" class="">{{centre.id}}</h3>
	                <ul class="list-unstyled col-sm-pull-1 col-sm-push-1 col-sm-10" ng-repeat="(key,value) in centre track by $index" ng-if="key == 'id' || key == 'name' || key == 'location' || key == 'maxPatients' || key == 'noOfShiftsPerDay' || key =='accessLinesAvailable' || key=='createdAt'|| key =='updatedAt' || key =='typesOfMachinesAvailable'">
	                	<li class="row">
		                	<label class="col-sm-5 col-sm-push-1 text-capitalize" style="text-align:left;" ng-if="key!='typesOfMachinesAvailable' " >{{key}}:</label>
		                	<label class="col-sm-5 col-sm-push-1" ng-if="key != 'createdAt' && key !='updatedAt' && key !='accessLinesAvailable' && key !='typesOfMachinesAvailable'">{{value}}</label>
		                	<label class="col-sm-5 col-sm-push-1" ng-if="key=='createdAt'|| key =='updatedAt'">{{value|date:dd-MMMM-YY}}</label>
		                	<ul class="col-sm-4 col-sm-push-2" ng-if="key == 'accessLinesAvailable'">
		                		<li ng-repeat = "line in value">{{line}}</li>
		                	</ul>
		                	<div ng-if="key =='typesOfMachinesAvailable'" >
			                	<!-- <hr style="border-top:1px solid rgb(220,220,220);" /> -->
			                	<div  ng-repeat = "machine in value	" class="panel panel-default" ">
			                		<div class="panel-body" style=" width:100%">
			                            <label class="col-sm-6 text-capitalize" style="text-align:left;" >Machine Type {{$index + 1}}</label>
			                            <label class="col-sm-6" >{{machine}}</label>
		                                <label class="col-sm-6 text-capitalize" style="text-align:left;">OPD Machines:</label>
		                                <label  class="col-sm-6">{{getValue('OPDTotal',$index,machine)}}</label>
		                                <label class="col-sm-6 text-capitalize" style="text-align:left;">ICU/IPD Machines: </label>
		                                <label class="col-sm-6" >{{getValue('IPD_ICUTotal',$index,machine)}}</label>
		                        	</div>
		                        </div>
	                        </div>
                        </li>
                    </ul>
	    			<form>
		    			<div class="form-group">
		                    <div class="col-sm-offset-4 col-sm-10">
		                        <button id="edit" type="submit" class="btn btn-primary" ng-click="edit()">Edit</button>
		                    </div>
		                </div>
	                </form>
	                <hr style="border-top:1px solid rgb(225,225,225);">
	        	</div>
    	    </div>
        </div>
    </div>
</div>