<div class="container" ng-controller="DataBaseController">
    <div class="row row-content">
        <div class="panel panel-info">
            <div class="panel-body" style="text-align:center;">
                <div class="col-sm-4">
                    <label class="text-capitalize">Choose DataBase Table You Want modify: </label>
                    <select>
                        <option disabled selected value="">-</option>
                        <!-- <option ng-repeat="" value="{{}}">{{}}</option> -->
                    </select>
                </div>
            </div>
        </div>   
      
    </div>
</div>